.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 427;
    font-style: normal;
  }

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




 
/* 미디어 쿼리: css에서 반응형을 구현할 수 있는 기능 */
@media screen and (max-width: 500px) {
  .section {
    background-color: black;
  } 
}
.sticky-top {
    position: fixed;
    top: 5rem; /* 네비게이션 바 높이에 따라 조정 */
  }

.script {
    background-color: rgb(247, 247, 247); 
    border-radius: 10px;
    border: 2px solid ;
    border-color: black;
    box-shadow: 3px 5px 4px rgb(212, 212, 212);
}